body {
	font-family: Arial, Helvetica, sans-serif;
	color: #808080;
}

#header {
	position: absolute;
	color: #FFF;
	background-color: #00BFFF;
	top: 0;
	right: 0;
	height: 5em;
	width: 100%;
}

.form {
	margin: auto;
	margin-top: 6em;
	width: 50%;
	min-width: 300px;
}

.form input{
	border: none;
	border-bottom: 1px solid #808080;
}

.form input:focus {
	outline: 0;
}

h3 {
	/*font-family: */
	margin: auto;
	margin-top: 1em;
	width: 50%;
	height: 50%;
	text-align: center;
}

button {
	margin: 0 0.3em;
	border: none;
	border-radius: 0.5em;
	box-shadow: 1px 1px 1px;
	float: right;
}

button:active {
	position: relative;
	top: 1px;
}

button:focus {
	outline: 0;
}

.container {
	margin-top: 2em;
}

/* Task element */
.task {
	margin: 1em;
	padding: 2em 1em;
	border: 1px solid #D3D3D3;
	box-shadow: 2px 2px 2px;
	min-width: 400px;
}

/* Set background colour of task element depending on progress */
.task[done="true"] {
	color: #696969;
	background-color: #A9A9A9;
}
.task[done="paused"] {
	background-color: #F0E68C;
}
.task[done="false"] {
	background-color: #FFF;
}

/* Time element of task */
.time {
	margin-right: 5px;
	float: right;
}

/* Task button styles */
.pause {
	background-color: #F0E68C;
}
.stop {
	background-color: #90EE90;
}


/* Remove button when task is done*/
.remove {
	color: red;
}